* {
  box-sizing: border-box;
  transition-property: background-color, border-color, fill, stroke, opacity,
    box-shadow;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
