* {
  box-sizing: border-box;
  max-width: 100%;
  transition-property: background-color, border-color, fill, stroke, opacity,
    box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body,
body > * > * {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: RocknRoll One;
  scroll-behavior: smooth;
  color: var(--font-color);
}

ol,
ul,
li {
  margin: 0;
  padding-left: 10px;
}

:root {
  --font-color: rgba(0, 0, 0, 0.8);
  --prismjs-background: #fef8f5;
  --prismjs-selection: #073642;
  --prismjs-base-color: #657b83;
  --prismjs-comment: #93a1a1;
  --prismjs-punctuation: #586e75;
  --prismjs-operator: #586e75;
  --prismjs-parameter: #cb4b16;
  --prismjs-property: #268bd2;
  --prismjs-string: #2aa198;
  --prismjs-function: #b58900;
  --prismjs-builtin: #268bd2;
  --prismjs-keyword: #859900;
  --prismjs-variable: #cb4b16;
}

body[data-theme='dark'] {
  --font-color: #9aa0a6;
  --prismjs-background: #282a36;
  --prismjs-selection: #44475a;
  --prismjs-base-color: #f8f8f2;
  --prismjs-comment: #6272a4;
  --prismjs-punctuation: #f8f8f2;
  --prismjs-operator: #ff79c6;
  --prismjs-parameter: #ffb86c;
  --prismjs-property: #bd93f9;
  --prismjs-string: #f1fa8c;
  --prismjs-function: #50fa7b;
  --prismjs-builtin: #8be9fd;
  --prismjs-keyword: #ff79c6;
  --prismjs-variable: #bd93f9;
}

body[data-theme='dark']::-webkit-scrollbar,
body[data-theme='dark'] pre::-webkit-scrollbar {
  width: 14px;
}

body[data-theme='dark']::-webkit-scrollbar-track,
body[data-theme='dark'] pre::-webkit-scrollbar-track {
  background-color: #191921;
  border-radius: 0px;
}

body[data-theme='dark']::-webkit-scrollbar-thumb,
body[data-theme='dark'] pre::-webkit-scrollbar-thumb {
  background-color: var(--prismjs-background);
  border-radius: 0px;
}

.mermaid .arrowheadPath {
  fill: currentColor !important;
}
.mermaid .path,
.mermaid .label-container {
  stroke: currentColor !important;
}
.mermaid .label,
.mermaid .edgeLabel {
  color: currentColor !important;
}
.mermaid .label rect {
  fill: none !important;
}
.mermaid .label-container {
  fill: var(--prismjs-background) !important;
}
.mermaid .edgeLabel {
  border-radius: 8px;
  background-color: var(--prismjs-background) !important;
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--prismjs-base-color);
  font-family: Fira Code, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  background: var(--prismjs-selection);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  background: var(--prismjs-selection);
}

pre[class*='language-'] {
  padding: 1em;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: var(--prismjs-background);
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: var(--prismjs-comment);
}

.token.parameter {
  color: var(--prismjs-parameter);
}

.token.builtin,
.token.tag .token.class-name {
  color: var(--prismjs-builtin);
}

.token.operator,
.token.script-punctuation.punctuation,
.token.script-punctuation ~ .punctuation,
.token.parameter .token.punctuation {
  color: var(--prismjs-operator);
}

.token.punctuation {
  color: var(--prismjs-punctuation);
}

.token.namespace {
  opacity: 0.7;
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: var(--prismjs-property);
}

.token.regex-source,
.token.attr-name,
.token.char,
.token.inserted,
.token.selector,
.token.string,
.token.attr-value,
.token.url {
  color: var(--prismjs-string);
}

.token.entity {
  color: #657b83;
  background: #eee8d5;
}

.token.regex-flags,
.token.atrule,
.token.tag,
.token.keyword {
  color: var(--prismjs-keyword);
}

.token.class-name,
.token.attr-name,
.token.function {
  color: var(--prismjs-function);
}

.token.important,
.token.regex,
.token.variable {
  color: var(--prismjs-variable);
}

.token.bold,
.token.important {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
